# This is a sample for a systemd service config.
[Unit]
Description=MonikaBot (Discord)
After=network.target

[Service]
Environment=NODE_ENV=production
ExecStart=/usr/bin/node /path/to/index.js
WorkingDirectory=/path/to/monikabot
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monikabot

[Install]
WantedBy=multi-user.target